.header-container{
    padding: 10px 175px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-title a{
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: left;
    font-size: 28px;
}


.post-info-container {
    max-width: 800px;
    margin: 0px auto;
    padding: 40px 0;
    border-bottom: 1px solid gray;
}

.post-top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post-main-container{
    display: flex;
    min-height: 125px;
    margin-top: 5px;   
}

.post-main-container.multiple{
    min-height: 50px;
}

.post-main-container.multiple .vote-control{
    display: none;
}

.post-main-container.multiple .post-controls-container{
    display: none;
}

.post-left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
}

.post-author{
    font-size: 12px;
}

.post-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-controls-container {
    display: flex;
    justify-content: space-between;
    min-width: 60px;
}

.post-vote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;
}

.vote-score{
     color: #252525;
    font-size: 20px;
    margin: 4px;
}

.post-edit-button, .post-delete-button{
    cursor: pointer;
}

.content-container{
    padding: 0px 175px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button a {
    color: white;
    padding: 10px;
    background: #33adff;
    background: #029be5;
    border-radius: 3px;
    font-size: 14px;
}

a {
  text-decoration: none;
  color: #323A57;
}

.meta-text{
    color: gray;
    text-transform: capitalize;
    
}

.comments-title-container {
    font-size: 22px;
    margin-bottom: 45px;
    font-weight: bold;
}

.comment-top-container {
    display: flex;
}

.comment-edit-container {
    flex: 1;
}

.comments-container {
    max-width: 700px;
    margin: 0px auto;
    padding: 40px 0 0;
}

.comment-edit-button-container {
    display: flex;
    justify-content: flex-end;
}

.comment-container {
    border-bottom: 1px dashed;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.comment-edit-button, .comment-delete-button{
    cursor: pointer;
    margin-top: 20px;
}

.comment-delete-button{
    padding-left: 20px;
}

.comment-form-container {
    max-width: 700px;
    margin: 10px auto 40px;
}

.comment-edit-textarea{
    width: 100%;
}

.form-button {
    color: white;
    padding: 10px;
    background: #33adff;
    background: #029be5;
    border-radius: 3px;
    font-size: 14px;
}

.comment-submit-container{
    display: flex;
    justify-content: flex-end;
}

.post-form-container {
    max-width: 800px;
    margin: 0px auto;
    padding: 40px 0;
}

.post-form-container-title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.post-form-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.post-form-container {
    display: flex;
    flex-direction: column;
}

.post-form-button-container{
    display: flex;
    justify-content: flex-end;
}

.side-content-container {
    position: absolute;
    padding: 0px 0px 0px 175px;
}

.categories-list {
    padding: 18px 0;
    padding: 40px 0;
}

.categories-list li {
    padding: 5px 0px;
    font-size: 18px;
    font-weight: bold;
}